<strong><a href="/register">Sign Up!</a></strong>
<strong><a href="/login">Login!</a></strong>
<strong><a href="/logout">Logout!</a></strong>

<h1>Welcome to dashboard, <%= fName %> </h1>
<h2>Welcome to your profile</h2>
<p>Performance will be added here</p>

<ul>
  <li>Name: <%= fName %> <%= lName %> </li>
  <li>WhatsApp: <%= wNumber %> </li>
  <li>Email: <%= email %> </li>
  <li>College Name: <%= collegeName %> </li>
</ul>