<!DOCTYPE html>
<html>

<head>
    <title>Reporting Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->

    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/reportingTool.css">
    <script type="text/javascript">
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                if ($('#sidebar').hasClass('active'))
                    $('#reporting').addClass('hideCardContent');
                else
                    $('#reporting').removeClass('hideCardContent');
            });

            $('body').on('change', function () {
                if ($('#sidebar').hasClass('active'))
                    $('#reporting').addClass('hideCardContent');
                else
                    $('#reporting').removeClass('hideCardContent');
            });

            //Reporting Tool Checkbox : Toggles Submit Button
            $('#toggleSubmitPost').on('click', function () {
                if ($('#toggleSubmitPost').is(':checked')) {
                    $('button#sub_bun').removeClass('dull');
                } else {
                    $('button#sub_bun').addClass('dull');
                }
            });


            //Reporting Tool  : Alert For Unchecked Submission   
            $('button#sub_bun').on('click', function () {
                if ($('button#sub_bun').hasClass('dull')) {
                    alert("Please Select the Checkbox");
                }
            });
        });

        (function ($) {
            $(document).ready(function () {
                var now = new Date();
                var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                    'September',
                    'October', 'November', 'December'
                ];
                var month = months[now.getMonth()];
                var currentDate = month + ' ' + now.getFullYear();
                $('#monthandyear').val(currentDate);
            });
        })(jQuery);
    </script>
    <style>
        table {
            text-align: center;
        }

        th {
            padding: 5px
        }
    </style>
</head>

<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav navbar-with-menu fixed-top navbar-semi-light bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="/images/wecbr.logo.png" alt="..." width="65"
                    class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 class="m-0" style="font: 1.3rem;">WECBR</h4>
                </div>
            </div>
        </div>

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="/profile" class="nav-link text-dark font-italic bg-light active" id="dashboardListItem">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-dark font-italic" id="reportingListItem">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i> Reporting Tool
                </a>
            </li>
            <% if (user.isManager === true){ %>
            <li class="nav-item">
                <a href="/partnerDetails" class="nav-link text-dark font-italic">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Student Partners
                </a>
            </li>
            <% } %>
            <li class="nav-item">
                <a href="/logout" class="nav-link text-dark font-italic">
                    <i class="fa fa-times mr-3 text-primary fa-fw"></i> Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->

    <!-- Page content holder -->
    <div class="page-content p-5" id="content">
        <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
                class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">MENU</small></button>
        <button style="float:right;" id="sidebarCollapse" type="button"
            class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bell mr-2"></i></button>
        <!-- Demo content -->
        <div class="separator"></div>

        <!--Reporting tools  -->
        <div id="reporting">

            <div class="container emp-profile" id="reportingform">
                <table>
                    <tr style="border-bottom:1px grey solid">
                        <th>
                            S.No
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Starting Month
                        </th>
                        <th>
                            Ending Month
                        </th>
                        <th>
                            Mail
                        </th>
                    </tr>

                    <% for(let i=0;i<partners.length;i++){ %>
                    <tr>
                        <td><%=(i+1)%></td>
                        <td> <img src="/uploads/<%= partners[i].pImage %> " alt="" width="50" height="50" /></td>
                        <td><%=partners[i].fName%></td>
                        <td>Admin</td>
                        <td><%=partners[i].startDate.toString().slice(0,16)%></td>
                        <td><%=partners[i].endDate.toString().slice(0,16)%></td>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                    </tr>
                    <% } %>
                </table>

            </div>
        </div>
    </div>
</body>

</html>