<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/performance.css" rel="stylesheet" type="text/css">

  <title>Student Partner Details </title>
</head>

<body class="">

  <div class="page-wrapper-custom">

    <header class="header">
      <div class="header-wrapper">
        <div class="container">
          <div class="header-inner">
            <div class="header-logo">
              <a href="/profile">
                <img src="/images/wecbr.logo.png" alt="logo" width="65"
                  class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <span>WECBR</span>
              </a>
            </div>
            <!-- /.header-logo -->

            <div class="header-content">
              <div class="header-bottom">
                <div class="header-action">
                  <button type="button" class="btn btn-light bg-white px-4 mb-4"><i class="fa fa-bell"></i></button>
                  </a>
                  <!-- /.header-action-inner -->
                </div>
                <!-- /.header-action -->
              </div>
              <!-- /.header-bottom -->
            </div>
            <!-- /.header-content -->
          </div>
          <!-- /.header-inner -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.header-wrapper -->
    </header>
    <!-- /.header -->




    <div class="main">
      <div class="container emp-profile">
        <div class="table-responsive-md">
          <table class="table table-striped table-hover ">
            <thead>
              <tr class="bg-primary tableheading">
                <th scope="col">S.No</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Group No.</th>
                <th scope="col">Starting Month</th>
                <th scope="col">Ending Month</th>
                <th scope="col">Mail</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < users.length; i++) { %>
              <tr>
                <th scope="row"><%= i + 1 %> </th>
                <td>
                  <div class="col-md-6">
                    <div class="media d-flex align-items-center"><img src="/uploads/<%= users[i].cImage %> "
                        alt="clg logo" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    </div>
                  </div>
                </td>
                <td><a href="/users/<%= users[i]._id %>"><%= users[i].fName %> </a></td>
                <td></td>
                <% if(users[i].group) { %>
                <td></td>
                <% } else { %>
                <td>Not Assigned</td>
                <% } %>
                <td><%= moment(users[i].startDate).format('Do MMM, YYYY')  %></td>
                <td><%= moment(users[i].endDate).format('Do MMM, YYYY')  %></td>
                <td><i class="fa fa-lg fa-envelope"></i></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.main -->

  </div>
  <!-- /.page-wrapper -->
</body>

</html>