<h2>Manager: <%= user.isManager %> </h2>
<p>First Name: <%= user.fName %> </p>
<p>Last Name: <%= user.lName %> </p>
<p>Number: <%= user.wNumber %></p>
<p>College: <%= user.collegeName %></p>
<p>Profile Photo: <img src="/uploads/<%= user.pImage %>" alt="<%= user.fName %>" width="100px"> </p>
<p>Start Date:<%= moment(user.startDate).format('MMM Do, YYYY')  %></p>
<p>End Date: <%= moment(user.endDate).format('MMM Do, YYYY')  %></p>