<p>First Name: <%= user.fName %> </p>
<p>Last Name: <%= user.lName %> </p>
<p>Number: <%= user.wNumber %></p>
<p>College: <%= user.collegeName %></p>
<p>Profile Photo: <img src="/uploads/<%= user.pImage %>" alt="<%= user.fName %>" width="100px"> </p>
<p>Start Date:
  <%= user.startDate %></p>
<p>End Date: <%= user.endDate %></p>